<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Configuración SQLite -->
        <property name="hibernate.connection.driver_class">org.sqlite.JDBC</property>
        <property name="hibernate.connection.url">jdbc:sqlite:biblioteca.db</property>
        <property name="hibernate.dialect">org.hibernate.community.dialect.SQLiteDialect</property>

        <!-- Pool de conexiones -->
        <property name="hibernate.connection.pool_size">1</property>

        <!-- Mostrar SQL -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- DDL: update para mantener datos entre ejecuciones -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Mapeo de entidades -->
        <mapping class="com.mycompany.sistemadegestiondelibrosbibliioteca.model.entity.Libro"/>

    </session-factory>
</hibernate-configuration>